<!DOCTYPE html>
<html>
<head>
  <title>Climbcenter</title>
  <% if controller_name == "welcome" %>
  <%= stylesheet_link_tag    'bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'grayscale.css', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <script>
  
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1420885641568155',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>



  <% if controller_name != "welcome" %>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ClimbCenter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">All Holds <span class="sr-only">(current)</span></a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">All Holds <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Jugs</a></li>
            <li class="divider"></li>
            <li><a href="#">Crimps</a></li>
            <li class="divider"></li>
            <li><a href="#">Pinches</a></li>
            <li class="divider"></li>
            <li><a href="#">Slopers</a></li>
          </ul>
        </li>
        <li><a href="#">Skill Test/Survey</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Climbing Gyms</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
        <li>
          <%= image_tag current_user.image, class:'avatar' %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= current_user.name %>
            <!-- <span class="caret"></span> -->
          </a>
            <!-- <ul class="dropdown-menu" role="menu"> -->
              <li>
                <%= link_to "Log Out", signout_path %>
              </li>
            <!-- </ul> -->
        </li>
      </ul>
          <% end %>


  <!-- <% if current_user %>
  <li class="settings hidden-phone">
  <a href="/signout" role="button" alt="sign out">
    <i class="icon-signout"></i>
  </a>
  </li>
  <% else %>
  <li class="settings hidden-phone">
  <a href="/auth/facebook" role="button" alt="sign in">
    <i class="icon-signin"></i>
  </a>
  </li>
  <% end %> -->

  </div>
</div>
</nav>
<% end %>
<div class="container">



<%= yield %>
</div>


</body>
</html>
